.sidebar {
  height: 50vh;
  flex: 0.2;
  background-color: #9b59b6;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  padding: 15px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}
